@media screen and (max-width: 767px) {
  .open-mobile-menu-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }

  .open-mobile-menu-btn__icon {
    width: 40px;
    height: 40px;
  }
}

.header {
  padding: 10px 0;
  background-color: var(--background-secondary-color);
  border-bottom: 1px solid var(--header-line-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0;
  }

  .open-mobile-menu-btn {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
  }
}
