:root {
  --font-family-primary: Roboto, sans-serif;
  --font-family-secondary: Raleway, sans-serif;
  --text-light-theme-primary-color: #212121;
  --text-light-theme-secondary-color: #757575;
  --text-dark-theme-primary-color: #ffffff;
  --text-footer-contact-color: rgba(255, 255, 255, 0.6);
  --background-primary-color: #2f303a;
  --background-secondary-color: #ffffff;
  --background-menu-color: #f5f4fa;
  --logo-accent-color: #2196f3;
  --logo-secondary-color: #000000;
  --header-line-color: #f5f4fa;
  --icon-color: #afb1b8;
  --icon-bg-color: rgba(255, 255, 255, 0.1);
  --transition-duration-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
